.heder-nav{
    font-size: 24px;
    color: rgb(206, 17, 134);
    line-height: 1.8;
    margin-right: 30px;
}

.page-header{
    background-color: rgb(93, 210, 214);
}

ul{
    display: flex;
    list-style: none;
}